.popap
    z-index: 4
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .6)
    top: 0
    left: 0
    transition: .5s linear
    padding-top: 30px

    .popap__area
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0

    .popap__body
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center
        padding: 60px 10px
    
        .popap__content
            text-align: center
            padding: 100px
            background-color: #fff
            color: #000000
            max-width: 800px
            border-radius: 3px
            position: relative

            .popap__close
                position: absolute  
                right: 20px
                top: 10px
                font-size: 30px
                color: #000000
                  

            .img__popap 
                bottom: 70%
                left: 35%
                text-align: center
                background-color: #fff
                position: absolute
                padding: 50px
                border-radius: 50% 
                box-shadow: 0 0 20px 1px #000
                
                img
                    width: 100px

            .popap-title
                color: red
                font-size: rem(30)

            .popap-text
                color: #b9bcd1

            .popap-btn  
                position: relative
                top: rem(50) 
                padding: 20px 30px
                background-color: #eb304d
                border-radius: 5px
                color: #ffffff

.fadeOut
    opacity: 0






html
  min-height: 100%
  box-sizing: border-box
  font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif
  color: #888

\::-webkit-input-placeholder
  color: #bbb

#login
  border-radius: 5px
  margin: 120px auto
  width: 300px
  -webkit-perspective: 1000

  h1
    position: relative
    margin: 0
    padding: 15px
    border: 1px solid rgba(0, 0, 0, 0.3)
    border-radius: 5px 5px 0 0
    font-size: 16px
    text-align: center
    color: #fff
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
    background-color: #1a54e7
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3)
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15))
    font-family: Tahoma
  a
    color: #888
    text-decoration: none

    &:hover
      color: #369

  p
    margin: 0

  .social
    display: inline-block
    height: 20px
    margin-left: 7px
    padding: 0 2px
    cursor: pointer
    border-radius: 3px

    &:before
      content: ""
      display: inline-block
      width: 15px
      height: 15px
      vertical-align: top
      margin: 3px 5px 0 0

    &.fb:before
      background: url('../img/fc-webicon-facebook.svg') no-repeat

    &.gp:before
      background: url('../img/fc-webicon-googleplus.svg') no-repeat

    &:hover
      color: #333
      background: #eee
      box-shadow: 1px 1px 1px #bbb

  fieldset
    display: block
    margin: 0
    padding: 20px
    background: #fff
    border: 1px solid rgba(0, 0, 0, 0.3)
    border-top: 0
    border-radius: 0 0 5px 5px
    box-shadow: 0 1px 2px #aaa

  input
    width: 238px
    margin: 0
    padding: 12px 10px
    border: 1px solid #ccc
    outline: none
    font-size: 14px

    &:focus
      background: #fafafa
      box-shadow: inset 0 1px 7px #ddd

    &[type="email"]
      border-radius: 3px 3px 0 0

    &[type="password"]
      border-width: 0 1px
      border-radius: 0

  .form-login input[type="password"]
    border-width: 0 1px 1px 1px
    border-radius: 0 0 3px 3px

  input
    &[type="text"]
      border-radius: 0 0 3px 3px

    &[type="submit"]
      width: 260px
      padding: 12px 20px
      margin: 15px 0
      border: 1px solid #C1711B
      border-radius: 3px
      color: #111
      font-size: 1.3em
      font-weight: bold
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5)
      cursor: pointer
      background-color: #FFB83A
      box-shadow: inset 0 1px 1px rgba(255, 255, 0, 0.6)
      background-image: linear-gradient(rgba(255, 207, 92, 0.7), rgba(223, 156, 38, 0.8))

      &:hover
        background-color: #F5FF00

      &:active
        padding: 13px 20px 11px
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.6)
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2)

/* flip animation

.flip
  position: relative
  -webkit-transition: 0.6s
  -webkit-transform-style: preserve-3d

.form-login
  position: absolute
  top: 0
  left: 0
  -webkit-backface-visibility: hidden

.form-signup
  position: absolute
  top: 0
  left: 0
  -webkit-backface-visibility: hidden
  z-index: 2

.form-login
  -webkit-transform: rotateY(180deg)

.flip.flipped
  -webkit-transform: rotateY(-180deg)

#login
  input
    &.login-err
      color: #C4550B
      background-color: #FFEDD7
      border-color: #EB975F

      &:focus
        color: #C4550B
        background-color: #FFEDD7
        border-color: #EB975F

      &::-webkit-input-placeholder
        color: #C4550B

    &.login-ok
      color: #4E831F
      background-color: #EBFDDC
      border-color: #9FCC41

      &:focus
        color: #4E831F
        background-color: #EBFDDC
        border-color: #9FCC41

      &::-webkit-input-placeholder
        color: #4E831F

  p.login-msg
    display: none
    margin: 0 0 5px
    font-size: 13px
    font-weight: bold
    color: #C4550B

/* Ñòèëè áàðà vladmaxi, ìîæíî óäàëèòü

.vladmaxi-top
  line-height: 24px
  font-size: 11px
  background: rgba(0, 0, 0, 0.08)
  text-transform: uppercase
  z-index: 9999
  position: fixed
  top: 0
  left: 0
  width: 100%
  font-family: calibri
  font-size: 13px
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2)
  -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards

  a
    padding: 0px 10px
    letter-spacing: 1px
    color: #333
    text-shadow: 0px 1px 1px #fff
    display: block
    float: left
    text-decoration: none

    &:hover
      background: #fff

  span.right
    float: right

    a
      float: left
      display: block

@-webkit-keyframes slideOut
  0%
    top: -30px
    opacity: 0

  100%
    top: 0px
    opacity: 1