.sign
    background: url(../img/bg3.jpg) 0 0 / cover
    height: rem(420)
    font-family: "PTSerif reg"
    color: #ffffff
    text-align: center
    padding-top: 150px

    &-title
        font-size: rem(48)
        font-weight: normal
        margin: 0

    &-text
        font-size: rem(24)
        color: #8baeff
        margin-bottom: rem(48)
    
    &-in
        margin: auto
        position: relative
        background-color: #2c6cff
        max-width: rem(400)
        height: 50px
        border-radius: 50px

        .signInCont
            outline: none
            padding-top: 10px
            padding-bottom: 15px 
            font-family: "PTSans bold" 
            font-size: rem(18)
            width: 130px
            border-radius: 50px
            background-color: #fff
            color: #1a54e7
            margin-left: 270px
            border: none
            transition: 1s

            &.active
                margin-left: -270px
                
                .register
                    display: inline-block
                
                .signIn
                    display: none
                

            .register
                display: none





            





